**What we did until now:**
1. Download MoMA's data dumps of Artists and Artworks from their [GitHub repository](https://github.com/MuseumofModernArt/collection)
2. Download Rhizome's artists dataset, from thei [SPARQL endpoint](https://artbase.rhizome.org/wiki/Query) distinguishing between artists in Artbase and Artists bith in Artbase and wikidata
3. develope a filtering function to clean the MoMA's Artworks collection in order to narrow it and find artists similar to those ledgered in Rhizome and solve scalability problems between the two data sets

In the following chunck we have created

In [9]:
import re
import csv
import pandas as pd

path = './MoMA_data/'

import csv
with open(path+'Artworks.csv','r') as fin, open (path+'cleaned_artworks.csv','w') as fout:

    writer = csv.writer(fout, delimiter=',' )
    writer.writerow(['Title','Artist','ConstituentID','ArtistBio','Nationality','BeginDate','EndDate','Gender','Date','Medium','Dimensions','CreditLine','AccessionNumber','Classification','Department','DateAcquired','Cataloged','ObjectID','URL','ThumbnailURL','Circumference (cm)','Depth (cm)','Diameter (cm)','Height (cm)','Length (cm)','Weight (kg)','Width (cm)','Seat Height (cm)','Duration (sec.)'])

    for row in csv.reader(fin, delimiter=','):

        if str(row[8]) != "":
            if  re.match('.*\d\d\d\d.*', row[8]):
                year = re.findall(r'\d\d\d\d', row[8])
                if int(year[0]) >= 1983:

                    if (row[14] =='Media and Performance') or (row[14]=='Photography'):

                        writer.writerow(row)

In [10]:
data = pd.read_csv(path+'cleaned_artworks.csv')
# print the first 5 rows
data.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,Woman Twirling,Jo Ann Callis,928,"(American, born 1940)",(American),(1940),(0),(Female),1985,Silver dye bleach print,...,http://www.moma.org/media/W1siZiIsIjk3MDQ4Il0s...,NaN,NaN,NaN,74.3,NaN,NaN,92.6,NaN,NaN
1,Dusk,Peter Campus,944,"(American, born 1937)",(American),(1937),(0),(Male),1991,Digital photograph; gelatin silver print,...,NaN,NaN,NaN,NaN,47.5,NaN,NaN,58.0,NaN,NaN
2,Rupture,Peter Campus,944,"(American, born 1937)",(American),(1937),(0),(Male),1991,Digital photograph; gelatin silver print,...,NaN,NaN,NaN,NaN,47.0,NaN,NaN,58.3,NaN,NaN
3,Covered Wagons,James Casebere,6895,"(American, born 1953)",(American),(1953),(0),(Male),1985,Gelatin silver print,...,http://www.moma.org/media/W1siZiIsIjEzNTQxNCJd...,NaN,NaN,NaN,75.0,NaN,NaN,57.8,NaN,NaN
4,Cornelius and Cybel Castoriadis,Mariana Cook,6897,"(American, born 1955)",(American),(1955),(0),(Female),1991,Gelatin silver print,...,http://www.moma.org/media/W1siZiIsIjIzOTQ5NSJd...,NaN,NaN,NaN,46.3,NaN,NaN,39.2,NaN,NaN

Follows an iteration over the clean df of MoMA's artworks in order to count the total number of artists annd insert them in a set

In [11]:
artists_list = set()

path = './MoMA_data/'

with open(path+'cleaned_artworks.csv','r') as myfile:
    for row in csv.reader(myfile, delimiter=','):
        if row[1] not in artists_list:
           artists_list.add(row[1])
    print(len(artists_list))

1208